extends layout

block content
  section.register
    h1 Register
    form(action="/auth/register" method="POST")
      div
        label(for="username") Username
        input(type="text" name="username" placeholder="Enter your username" required)
      div
        label(for="email") Email
        input(type="email" name="email" placeholder="Enter your email" required)
      div
        label(for="password") Password
        input(type="password" name="password" placeholder="Create a password" required)
      button(type="submit") Register
    p Already have an account?
    a(href="/auth/login") Login here
